<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />			
            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="500" subStatusCode="100" prefixLanguageFilePath="" path="/codecoke_com/err/iis_500_100.asp" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
