<!DOCTYPE html Public "-//W3C//DTD XMTL 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>DHM--BBS</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.css">
        <style type="text/css">
            body{
                padding-top: 10px;
                padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css"/>
        <%
        console.log('Server running at ----');
        %>
    </head>
    <body>

        <div id="container" class="container">
            <%-body%>
            <hr />
            <footer>
                <p><a href="/"></a></p>
            </footer>
        </div>

    </body>
</html>