@import url('/codecoke_com/agent/c/globalReset_0.css');

body {
	background-color:#fff;
	margin:0 auto;
}
/*
font-family:'PT Sans Narrow', Calibri, 'Lucida Sans', Helvetica, Arial, Verdana;
*/
/** 重置文本格式元素 **/
button, input, select /* for ie */ {font: 12px/1 tahoma, arial, sans-serif;}
body { font: 12px/1 Tahoma, Arial, \5b8b\4f53, sans-serif; }

input,select{border-width:1px;border-color:#666;margin-right:5px;}
a { text-decoration: none; }
a:link {color:#3a75d4;}
a:visited{color:#3a75d4;}
a:hover { text-decoration: underline;}
a:active{color:#3a75d4;}
.aLink {cursor:pointer;color:#3a75d4;}
.aLink:hover {text-decoration: underline;}

#ihead2Clear {display:none;clear:both;}

.ggSearch {
	
}
.ggSearchTxt {
	padding:3px 2px 0;
	height:17px;
	border:2px solid #dfdfe0;
	background-color:#fff;
	display:inline-block;
	vertical-align: top;
	zoom:1;
}
.ggSearchTxt input {
	border:0;
	cursor:text;
	background-color:transparent;	
}
.ggSearchBtn {
	padding:3px 0 0;
	border-width:2px 2px 2px 0;
	border-style:solid;
	border-color:#bbb;
	color:#fff;
	height:17px;
	cursor:pointer;
	background: #4d89bb url(/codecoke_com/agent/i/navbg-blue_split_0.png) left -538px repeat-x;
	display:inline-block;
	margin-right:5px;
	vertical-align: top;
	zoom:1;

}
.ggSearchBtn__bak:hover {
	background: #4d89bb url(/codecoke_com/agent/i/navbg-blue_split_0.png) left -470px repeat-x;
}
.ggSearchBtn input {
	border:0;
	cursor:pointer;
	background-color:transparent;
	color:#fff;
	padding:0 5px 0 10px;

}

#iContent,#iWallpaper,#iHead,#iFoot {
	clear:both;
	display:block;
}

#iWallpaper{
	white-space:normal; 
}
#iContent {
	width:960px;
	margin:0 auto;
	word-break:break-all;

}
#iHeadtop {
	min-height:36px;
}
#iLogo {
	float:left;
}
#iHeadtopleft {
	float:left;
	margin-right:5px;
}
#iHeadmid {
	clear:both;
	border-bottom:1px dotted #bababa;
	
}
#iHeadFoot {
	clear:both;
}
#iCon {
	line-height:1.5;
	min-height:320px;
}
#iCon p { line-height: 1.5; }










#footNav {
	background-color:#f5f5f5;
}
#footNav ul {
	text-align:center;
	
}
/*
#footNav ul li {
	position:relative;
	float:left;
	width:15%;
}
*/
#footNav ul li {
	display:inline-block;
	+display:inline;
	_display:inline;
	vertical-align:top;
	margin-right:5px;
	line-height:1.5;
}

#copyright {
	clear:both;
	text-align:center;
	line-height:5em;
}
#copyrightUrl {
	margin:0 5px;
	font-weight:bold;
	font-size:14px;
}
#powered {
	clear:both;
	text-align:right;
	padding-right:5px;
	
}
#powered a {
	margin-right:5px;
}
a.poweredC3 {
	background-color:#bbb;
	color:#fff;
	padding:0 2px;
}
a.poweredC3:hover {
	background-color:#000;
	text-decoration:none;
}

/*=====*/
.go2head,.go2footer {
	cursor:pointer;
}
.oo_r {
	float:right;
	font-size:3px;
}
.acTag_dl_fl {
}
.acTag_dl_fl dl {
	float:left;	
}
.acTag_dl_fl dl dt {
	padding:0 7px;
	background-color:#ebf1f4;
	border-width:0px 1px;
	border-style:solid;
	border-color: #e4e4e2;
}
.dl_abs dd {
	position:absolute;
}
.acTag_dl_fl dl dd {	
	min-width:150px;
	border-width:1px;
	border-style:solid;
	border-color:#bababa;
	background-color:#f5f5f5;
	padding:3px;
	display:none;
}
.acTag_dl_fl dl.iShow dt {
	background-color:#bababa;
}
.acTag_dl_fl dl.iShow dt a {
	color:#fff;
}
.acTag_dl_fl dl.iShow dd {
	display:block;
}

/*===sideright==*/
.ibar_side_right {
	float:right;
	min-height:300px;
	width:150px;
	line-height:22px;
}
.ibar_side_right dl.sidemenu {
	background-color:#e9eff2;
	border-left:1px solid #c7cac9;

}
.ibar_side_right dl.sidemenu dt {
	font-weight:bold;
	text-align:center;
	background-color:#9ac1d5;
	color:#fff;
}
.ibar_side_right dl.sidemenu dd a {
	display:block;
	text-indent:10px;
	text-decoration:underline;
}
.ibar_side_right dl.sidemenu dd a:hover {
	background-color:#f6f8fa;
}

.iConMaxZone {
	border:1px solid green;
	padding-right:150px;
}
.sidemax {
	border:1px solid red;
}

/*======user bar=====*/
#iHeadtopright {
	float:right;
	line-height:18px;
	padding:0px;
	+Width:310px;
	_Width:310px;
}
.iTopUser {
	padding:3px 5px 0 0;
	min-width:300px;
}
.iTopUserBar {
	height:33px;
	
}
.iTopUserBarInfo {
	line-height:32px;
	height:33px;
	background-color:#83accb;
}
.iTopUserBarSign {
	text-align:center;
	line-height:32px;
}
.iTopUserBarSign a {
	color:#ffffa6;
	margin-right:10px;
}
.iTopUserBarInfo .iuserFace {
	float:left;	
	margin-right:5px;
	line-height:18px;
}
.iTopUserBarInfo .iuserFace img{
	width:33px;
	height:33px;
	
}
.iTopUserBarInfo .iuserName {
	float:left;
	max-width:120px;
	font-size:14px;
	font-weight:bold;
	color:#dae7ef;
	padding-left:5px;
	
}
.iTopUserBarInfo a.iR,.iTopUserBarInfo a.iL {
	margin:0 5px;
	color:#ffffa6;
}

.iTopUserContent {
	position:absolute;
	z-index:200;
	background-color:#6497bd;
	width:294px;
	_width:299px;
	border-width:1px 3px 2px;
	border-style:solid;
	border-color:#6497bd;
}
.iTopUserTool {
	background-color:#6497bd;
	padding:3px 0 0 5px;
	height:22px;
}
.iTopUserTool a {
	float:left;
	background-color:#cbddeb;
	border-bottom:1px solid #6497bd;
	margin-right:5px;
	padding:0 5px;
	height:21px;
	line-height:20px;
}
.iTopUserTool a.navNow {
	background-color:#fff;
	border-bottom-color:#fff;
}
.iTopUserContentZone {
	padding:5px 10px;
	background-color:#fff;
}
.iTopUserContentZone dt{
	font-weight:bold;
	background-color:#f3f3f3;
	padding:3px 5px;
	color:#545454;
	111border-bottom:1px solid #bababa;	
}
.iTopUserContentZone dd ul {
	list-style:none;
	padding:5px 0;
}
.iTopUserContentZone dd ul li strong {
	color:#6497bd;
	font-weight:normal;
}
/*============*/

.headMsg > div {
	padding:3px 5px;
	margin-top:2px;
	border:1px solid #bababa;
}
div.blue_warning {
	border:1px solid #15b4ff;
	color:#0183da;
	background-color:#ddf1ff;
	
}
div.red_warning {
	border:1px solid #ff0000;
	color:#ff6600;
	background-color:#ffdfdf;
}

div.yellow_warning {
	border:1px solid #ccc;
	color:#000;
	background-color:#ffffce;
}

/*=======iform=============*/
.iform  p {	
	line-height:24px;
}
.iform_about {
	border-bottom:1px solid #dfdfbd;
	padding:5px 10px;
}
.iform_inputs {
	padding:5px 0;
}
.iform_inputs p {
	height:28px;
	padding:5px;
}
.iform_inputs  input {
	line-height:25px;
	height:25px;
	border-width:1px;
	border-style:solid;
	border-color:#222 #bbb #bbb #222;
	background-color:#f5f5f5;
	padding:0 10px;
}
.iformBottom {
	height:32px;
	padding:5px 10px;
	background-color:#e7e7cd;
	border-width:1px 0 0 0;
	border-style:solid;
	border-color:#dfdfbd;
	line-height:28px;
}
.iformBottom button {
	border-style:outset;
	line-height:30px;
	padding:0 15px;
	background-color:#ccc;
	font-size:14px;
	color:#000;
}
.iform .red_warning
,.iform .yellow_warning {
	padding:10px;
}
.iform_inputs p sup {
	margin:0 5px 0 0;
	font-size:14px;
	color:#aaa;
}
.iform_inputs p strong {
	float:left;
	text-align:right;
	min-width:100px;
	+Width:100px;
	_Width:100px;
	margin-right:10px;
}
.iform_inputs p span {
	margin-right:5px;
}
input.input_err {
	background-color:#ffdfdf;
	border-color:#840000 #ff8686 #ff8686 #840000;
}
input.input_ok {
	background-color:#d9ffd9;
}
/*==========doc paper====*/

.win_paper_all {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	background: transparent url(/codecoke_com/agent/i/bg_trans_dot.gif) left top;
	padding:75px 0 0;
	z-index:99999;	

}
.win_paper_content {
	width:960px;
	margin:0 auto;
}
.win_paper_bar {
	padding:2px 5px 0 0;
	height:18px;
	line-height:18px;	
	background-color:#ccc;
	
}
.win_paper_bar span.cHand {
	padding:0 20px;
	float:right;
	background-color:#888;
	color:#fff;
}
.win_paper_bar span.iL {
	color:#888;	
	padding:0 10px;
}
.win_paper_tool {
	background-color:#eee;
}

.win_paper_box {
	border-style:solid;
	border-width:2px;
	border-color:#888;
	background-color:#efefde;	
	color:both;
}
.win_paper_zone {
	padding:10px;

}

